* {
  font-family: "Anta", sans-serif;
}

.navbar-brand {
  font-size: 28px;
  &:hover {
    color: grey;
  }
}

.navbar-nav {
  font-size: 20px;
  &:hover {
    color: black;
  }
}

.navbar-nav a:hover {
  font-size: 22px;
}

.nav-item i {
  font-size: 22px;
}

a[aria-current="page"] {
  text-decoration: underline #000;
  text-decoration-thickness: 0.2em;
}
